.site_wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.site_wrapper h1 {
    text-align: center;
    font-size: 48px;
}

.addTask_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.addTask_wrapper input {
    height: 20px;
    width: 400px;
}

.ToDoItem {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    border: 2px dashed #000;
    margin-top: 20px;
}